[Unit]
Description=Distributed key/value store from Basho Technologies
After=network.target

[Service]
User=riak
Type=simple
ExecStart=/usr/sbin/riak foreground
ExecStop=/usr/sbin/riak stop
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
